{%- capture search_types -%}
  {%- if settings.predictive_search_products -%}product,{%- endif -%}
  {%- if settings.predictive_search_pages -%}page,{%- endif -%}
  {%- if settings.predictive_search_articles -%}article,{%- endif -%}
  {%- if settings.predictive_search_collections -%}collection{%- endif -%}
{%- endcapture -%}

{%- capture close_icon -%}
  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="10.2353" y="10.9424" width="14.4749" height="1" transform="rotate(-135 10.2353 10.9424)" />
    <rect x="10.9424" y="0.707031" width="14.4749" height="1" transform="rotate(135 10.9424 0.707031)" />
  </svg>
{%- endcapture -%}

<div class="header-search-form-wrapper header-search-form-style-{{ settings.headerSearchStyle }}">
  <form class="header-search-form form" action="{{ routes.search_url }}" method="get" data-header-search-form>
    <div class="header-search-input-wrapper">
      <label for="header-search" aria-label="{{ 'layout.header.search_placeholder' | t }}">
        {% if settings.headerSearchStyle == "minimal" %}
          <button class="header-search-submit header-search-submit--minimal" type="button" aria-label="{{ 'layout.header.search_submit' | t }}" data-header-search-submit><svg><use xlink:href="#icon-search"></use></svg></button>
          <span class="header-search-text" tabindex="0">{{ 'layout.header.search' | t }}</span>
        {% endif %}
        <input
          id="header-search"
          name="q"
          type="text"
          placeholder="{{ 'layout.header.search_placeholder' | t }}"
          value=""
          class="form-input {% if settings.predictive_search_enabled %}is-predictive{% else %}not-predictive{% endif %}{% if settings.headerSearchStyle == "minimal" %} hidden{% endif %}"
          data-search-types="{{ search_types }}"
          data-show-prices="{{ settings.predictive_search_show_price }}"
          data-show-vendor="{{ settings.predictive_search_show_vendor }}"
          aria-hidden="true"
          tabindex="0"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
        />
        <span class="header-search-clear" aria-label="{{ "search.general.clear" | t }}" tabindex="0">{{ close_icon }}</span>
      </label>
      {% if settings.headerSearchStyle == "boxed" %}
          <button class="header-search-submit" type="submit" aria-label="{{ 'layout.header.search_submit' | t }}" data-header-search-submit><svg><use xlink:href="#icon-search"></use></svg></button>
      {% endif %}
    </div>
    <div class="header-search-results-wrapper" data-header-search-results-wrapper>
      <div class="close-icon" aria-label="{{ "search.general.close" | t }}" tabindex="0" data-header-search-results-close><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></div>
      <div class="header-search-results" data-header-search-results>
      </div>
    </div>
  </form>
</div>
