
<div class="account-reset-password-wrapper">
  <h1 class="page-header">{{ 'customer.reset_password.title' | t }}</h1>

  {% form 'reset_customer_password', class: 'form' %}

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {% if form.errors %}
      <div class="form-error">
        {{ form.errors | default_errors }}
      </div>
    {% endif %}

    <div class="form-field">
      <label class="form-label" for="reset-password" aria-label="{{ 'customer.reset_password.password' | t }}">
        <span class="form-field-title">{{ 'customer.reset_password.password' | t }}</span>
        <input type="password" value="" name="customer[password]" class="form-input form-full {% if form.errors contains 'password' %}error{% endif %}" id="reset-password" placeholder="{{ 'customer.reset_password.password' | t }}">
      </label>
    </div>

    <div class="form-field">
      <label class="form-label" for="reset-password-confirm" aria-label="{{ 'customer.reset_password.confirm_password' | t }}">
        <span class="form-field-title">{{ 'customer.reset_password.confirm_password' | t }}</span>
        <input type="password" value="" name="customer[password_confirmation]" class="form-input form-full {% if form.errors contains 'password_confirmation' %}error{% endif %}" id="reset-password-confirm" placeholder="{{ 'customer.reset_password.confirm_password' | t }}">
      </label>
    </div>

    <div class="form-actions">
      <button type="submit" class="button hover-animation" value="{{ 'customer.reset_password.submit' | t }}" aria-label="{{ 'customer.reset_password.submit' | t }}"><span class="button-text">{{ 'customer.reset_password.submit' | t }}</span></button>
    </div>

  {% endform %}
</div>