<h1 class="page-header">{{ 'cart.general.title' | t }}</h1>

<div class="page-wrapper">
  {% if cart.items != blank %}
    <form class="form cart-form grid" action="{{ routes.cart_url }}" method="post" data-cart data-section-id="{{ section.id }}" data-section-type="cart">
      {% render 'cart-content' %}

      {% if cart.item_count > 0 %}
        <aside class="cart-totals grid-item-30">

            {% for block in section.blocks %}
            {% case block.type %}
            {% when '@app' %}
                {% render block %}
            {% when 'cart_totals' %}
        
                <section class="cart-checkout">
                <div class="cart-total-wrapper" data-cart-totals>
            
                    <table>
                    <tbody>
                        {% if cart.discount_applications != blank %}
                        <tr class="cart-total-line">
                            <td>{{ "cart.totals.subtotal" | t }}</td>
                            <td><span class="money">{{ cart.original_total_price | money }}</span></td>
                        </tr>
            
                        {% for discount_application in cart.discount_applications %}
                            <tr class="cart-total-line">
                            <td>
                                {{ "cart.totals.discount" | t }}
                                <span class="cart-total-line__discount-name">{{ discount_application.title }}</span>
                            </td>
                            <td>
                                -<span class="money">{{ discount_application.total_allocated_amount | money }}</span>
                            </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
            
                        <tr class="cart-total-line cart-total-line--total">
                        <td>{{ "cart.totals.total" | t }}</td>
                        <td><span class="money">{{ cart.total_price | money }}</span></td>
                        </tr>
                    </tbody>
                    </table>   
                </div>
                </section>
        
            {% when 'cart_tax_and_shipping' %}
        
                <span class="cart-page__policies">
                {% if cart.taxes_included %}
                    {{ 'cart.totals.include_taxes' | t }}
                {% endif %}
        
                {% if shop.shipping_policy.body != blank %}
                    {{ 'cart.totals.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {% endif %}
                </span>
        
            {% when 'cart_buttons' %}
        
                <section class="form-actions">
                <button class="button hover-animation" type="submit" name="update" value="{{ 'cart.totals.update' | t }}" aria-label="{{ 'cart.totals.update' | t }}" data-cart-update><span class="button-text">{{ 'cart.totals.update' | t }}</span></button>
                <button class="button hover-animation" type="submit" name="checkout" value="{{ 'cart.totals.check_out' | t }}" aria-label="{{ 'cart.totals.check_out' | t }}"><span class="button-text">{{ 'cart.totals.check_out' | t }}</span></button>
            
                {% if additional_checkout_buttons %}
                    <div class="cart-additional-buttons additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                    </div>
                {% endif %}
                </section>
        
            {% when 'cart_shipping_calculator'%}
        
                <section class="cart-module-wrapper" data-shipping data-cart-module>
                <button class="cart-module-toggle" type="button" aria-label="{{ 'cart.shipping.heading' | t }}" data-cart-module-toggle>
                    {{ 'cart.shipping.heading' | t }} &#43;
                </button>
        
                <div class="cart-module">
                    <div class="form-field">
                    <label class="form-label" for="address_country" aria-label="{{ 'cart.shipping.country' | t }}">
                        <span class="form-field-title">{{ 'cart.shipping.country' | t }}</span>
                        <span class="form-select-wrapper">
                        <select
                            name="address[country]"
                            id="address_country"
                            data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif block.settings.cartShippingCountry != '' %}{{ block.settings.cartShippingCountry | escape }}{% endif %}"
                            data-shipping-country
                        >
                            {{- country_option_tags -}}
                        </select>
                        </span>
                    </label>
                    </div>
        
                    <div class="form-field" id="address_province_container">
                    <label class="form-label" for="address_province" aria-label="{{ 'cart.shipping.province' | t }}">
                        <span class="form-field-title">{{ 'cart.shipping.province' | t }}</span>
                        <span class="form-select-wrapper">
                        <select name="address[province]" id="address_province" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}" data-shipping-province></select>
                        </span>
                    </label>
                    </div>
        
                    <div class="form-field">
                    <label class="form-label" for="address_zip" aria-label="{{ 'cart.shipping.zip' | t }}">
                        <span class="form-field-title">{{ 'cart.shipping.zip' | t }}</span>
                        <input class="form-input" type="text" id="address_zip" name="address[zip]" {% if shop.customer_accounts_enabled and customer %}value="{{ customer.default_address.zip }}"{% endif %} data-shipping-zip>
                    </label>
                    </div>
        
                    <div class="form-actions">
                    <input class="button" type="button" value="{{ 'cart.shipping.submit' | t }}" aria-label="{{ 'cart.shipping.submit' | t }}" data-shipping-rates-submit>
                    </div>
        
                    <div class="cart-shipping-response" data-shipping-response></div>
                </div>
                </section>
        
            {% when 'cart_note' %}
                <section class="cart-module-wrapper" data-cart-module>
                <button class="cart-module-toggle" type="button" aria-label="{{ 'cart.note.heading' | t }}" data-cart-module-toggle>
                    {{ 'cart.note.heading' | t }} &#43;
                </button>
        
                <div class="cart-module">
                    <div class="form-field">
                    <label for="cart-note" aria-label="{{ 'cart.totals.special_instructions' | t }}">
                        <textarea class="cart-note form-input form-full" name="note" id="cart-note" placeholder="{{ 'cart.totals.special_instructions' | t }}">{{ cart.note }}</textarea>
                    </label>
                    </div>
                </div>
                </section>
            {% endcase %}
            {% endfor %}
        
        </aside>
      {% endif %}
    </form>
  {% else %}
    <div class="cart-empty">{{ "cart.content.empty" | t }} <a href="{{ routes.root_url }}">{{ "cart.content.continue" | t }}</a>.</div>
  {% endif %}
</div>

{% schema %}
{
    "name": {
        "en": "Cart",
        "fr": "Panier",
        "de": "Einkaufswagen",
        "es": "Carrito",
        "pt-PT": "Carrinho"
    },
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "cart_totals",
            "name": "Cart total",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "This is used to set the order and placement of the cart total within the cart"
                }
            ]
        },
        {
            "type": "cart_tax_and_shipping",
            "name": "Tax and shipping",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "This is used to set the order and placement of the tax and shipping message within the cart"
                }
            ]
        },
        {
            "type": "cart_buttons",
            "name": "Cart buttons",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "This is used to set the order and placement of the cart buttons within the cart"
                }
            ]
        },
        {
            "type": "cart_shipping_calculator",
            "name": "Shipping rate calculator",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "cartShippingCountry",
                    "label": {
                        "en": "Default country",
                        "de": "Standardland",
                        "es": "País por defecto",
                        "fr": "Pays par défaut",
                        "pt-PT": "País predefinido"
                    },
                    "default": {
                        "en": "United States",
                        "de": "USA",
                        "es": "Estados Unidos",
                        "fr": "États-Unis",
                        "pt-PT": "Estados Unidos"
                    }
                }
            ]
        },
        {
            "type": "cart_note",
            "name": "Order message",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "This is used to set the order and placement of the order message field within the cart"
                }
            ]
        }
    ]
}
{% endschema %}
