{{ 'section-header.min.css' | asset_url | stylesheet_tag }}

<script
  type="application/json"
  data-section-type="header"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "isFullBleed": {{ section.settings.fullBleed | json }}
  }
</script>
<div id="myHeader">
<div
  class="header-wrapper"
  data-header-inner
>
  <div class="header{% if section.settings.logo_placement == 'center' %} header--logo-center{% endif %}{% if section.settings.full-width %} header--full-width{% endif %}">

    <div class="navigation-toggle" style="{% if section.settings.navigationMainMenu == blank %}visibility: hidden{% endif %}">
      <button data-navigation-toggle data-open type="button" aria-label="Open navigation">
        <span class="navigation-toggle-inner">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </div>

    {% if section.settings.logo_placement == 'center' %}
    <div class="header--logo-center-search">
      {% render 'search' %}
    </div>
    {% endif %}

    <div class="header-logo{% if section.settings.fullBleed and section.settings.fullBleedLogo and template == 'index' %} overlay-logo--enabled{% endif %}">
      {% if section.settings.logo %}
        <h2 data-header-logo>
          <a href="{{ routes.root_url }}" itemprop="url">
            {% assign logoWidth = section.settings.logoWidth | append: 'x' | escape %}
            <img class="header-logo-original"
                 src="{{ section.settings.logo | img_url: logoWidth }}"
                 srcset="{{ section.settings.logo | img_url: logoWidth }} 1x, {{ section.settings.logo | img_url: logoWidth, scale: 2 }} 2x"
                 alt="{{ shop.name }}"
                 itemprop="logo">

            {% if section.settings.fullBleed %}
              {% if section.settings.fullBleedLogo and template == 'index' %}
                <img class="header-logo-fullbleed"
                     src="{{ section.settings.fullBleedLogo | img_url: logoWidth }}"
                     srcset="{{ section.settings.fullBleedLogo | img_url: logoWidth }} 1x, {{ section.settings.fullBleedLogo | img_url: logoWidth, scale: 2 }} 2x"
                     alt="{{ shop.name }}">
              {% endif %}
            {% endif %}
          </a>
        </h2>
      {% else %}
        <h2{% if section.settings.logo_placement == 'left' %} class="logo--left-align"{% endif %} data-header-logo><a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a></h2>
      {% endif %}
    </div>

    <div class="header--logo-left-search">
        {% if section.settings.logo_placement == 'left' %}
            {% render 'search' %}
        {% endif %}
    </div>

    <div class="header-tools header-tools--style-{{ section.settings.icon_style }}" data-header-tools>
      <div class="header-localization">
        {% render 'localization-form', showCurrencySelector: section.settings.showCurrencySelector, showLanguageSelector: section.settings.showLanguageSelector %}
      </div>
      <ul>
        {% if shop.customer_accounts_enabled %}
          <li class="header-account" data-header-account>
            <a
              href="{{ routes.account_url }}"
              aria-label="{{ 'layout.header.account' | t | escape }}"
            >
              {% if section.settings.icon_style == '0' %}
                {{- 'layout.header.account' | t -}}
              {% else %}
                <svg><use xlink:href="#icon-account-{{ section.settings.icon_style }}"></use></svg>
              {% endif %}
            </a>
            {% render "header-account-dropdown", customer: customer, section: section %}
          </li>
        {% endif %}

        <li class="header-cart">
          <a
            href="{{ routes.cart_url }}"
            aria-label="{{ 'layout.header.cart' | t | escape }}"
            {%- if settings.ajax_cart_method == 'drawer' -%}
              aria-controls="cartSlideoutAside"
              class="slide-menu-cart"
            {%- endif -%}
          >
            {% if section.settings.icon_style == '0' %}
                {{- 'layout.header.cart' | t -}}
            {% else %}
              <svg><use xlink:href="#icon-cart-{{ section.settings.icon_style }}"></use></svg>
            {% endif %}
            <span class="header-cart-count" data-header-cart-count>
              {%- if cart.item_count > 0 %}{{ cart.item_count }}{% endif -%}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

  {% render 'navigation', section: section %}
</div>
<style type="text/css">
  {% if section.settings.fullBleed %}
    {%- capture rgb -%}
      {{ settings.fullBleedColor | color_extract: 'red' }},
      {{ settings.fullBleedColor | color_extract: 'green' }},
      {{ settings.fullBleedColor | color_extract: 'blue' }}
    {%- endcapture -%}

    @media screen and (min-width: 721px) {
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-logo a,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .navigation-list-item>a,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal .form-input,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal .header-search-text,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal svg,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .localization-selector button,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-tools .header-account>a,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-tools .header-cart>a,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .scroll-left::before,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .scroll-right::before
      {
        color: {{ settings.fullBleedColor }};
        -moz-osx-font-smoothing: grayscale;
        -moz-font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
      }

      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal .form-input::-webkit-input-placeholder { color: {{ settings.fullBleedColor }}; }
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal .form-input::-moz-placeholder { color: {{ settings.fullBleedColor }}; }
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal .form-input::-ms-placeholder { color: {{ settings.fullBleedColor }}; }
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form-style-minimal .form-input::placeholder { color: {{ settings.fullBleedColor }}; }

      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-submit,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .localization-selector button,
      .main-header.is-fullbleed:not(:hover):not(.search-open) .header-search-form .form-input {
        border-color: {{ settings.fullBleedColor }};
      }
    }
  {% endif %}

#myHeader {
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
}
.sticky_active {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.main-header {
background-color:#fff
}
div#shopify-section-announcement-bar {
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
}
.out_of_view_bar {
    transform: translateY(-100%);
} 
</style>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var announcement_bar_el = document.getElementById("shopify-section-announcement-bar");
var sticky = header.offsetTop;
  
function myFunction() {
  if(window.innerWidth > 720) {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky_active");
      announcement_bar_el.classList.add("out_of_view_bar");
    } else {
      header.classList.remove("sticky_active");
      announcement_bar_el.classList.remove("out_of_view_bar");
    }
  }
  else {
    header.classList.remove("sticky_active");
    announcement_bar_el.classList.remove("out_of_view_bar");
  }
}
</script>

{% schema %}
{
    "name": {
        "en": "Header",
        "de": "Überschrift",
        "es": "Encabezado",
        "fr": "En-tête",
        "pt-PT": "Cabeçalho"
    },
    "settings": [
        {
            "type": "checkbox",
            "id": "full-width",
            "label": {
                "en": "Show full width",
                "de": "Volle Breite aktivieren",
                "es": "Habilitar a todo lo ancho",
                "fr": "Activer la pleine largeur",
                "pt-PT": "Ativar largura total"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Logo",
                "de": "Logo",
                "es": "Logotipo",
                "fr": "Logo",
                "pt-PT": "Logótipo"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "250 x 130px recommended",
                "de": "Empfohlen: 250 x 130 Pixel",
                "es": "250 x 130 píxeles recomendados",
                "fr": "250 x 130 pixels recommandés",
                "pt-PT": "250 x 130 px, recomendado"
            }
        },
        {
            "type": "range",
            "id": "logoWidth",
            "label": {
                "en": "Width",
                "de": "Breite",
                "es": "Ancho",
                "fr": "Largeur",
                "pt-PT": "Largura"
            },
            "min": 50,
            "max": 290,
            "step": 5,
            "default": 170,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            }
        },
        {
            "type": "select",
            "id": "logo_placement",
            "label": {
                "en": "Placement",
                "de": "Platzierung",
                "es": "Colocación",
                "fr": "Placement",
                "pt-PT": "Posicionamento"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left",
                        "de": "Links",
                        "es": "Izquierda",
                        "fr": "Gauche",
                        "pt-PT": "Esquerda"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center",
                        "de": "Mitte",
                        "es": "Centro",
                        "fr": "Centre",
                        "pt-PT": "Centro"
                    }
                }
            ]
        },
        {
            "type": "header",
            "content": {
                "en": "Account/Cart",
                "de": "Account/Einkaufswagen",
                "es": "Cuenta/Carro",
                "fr": "Compte/panier",
                "pt-PT": "Conta / Carrinho de compras"
            }
        },
        {
            "type": "select",
            "id": "icon_style",
            "label": {
                "en": "Account/Cart icon style",
                "de": "Stil der Account- und Einkaufswagen-Symbole",
                "es": "Estilo de icono de cuenta/carro",
                "fr": "Style de l'icône du compte/du panier",
                "pt-PT": "Conta / Estilo do ícone do carrinho de compras"
            },
            "default": "2",
            "options": [
                {
                    "value": "0",
                    "label": {
                        "en": "Text",
                        "de": "Text",
                        "es": "Texto",
                        "fr": "Texte",
                        "pt-PT": "Texto"
                    }
                },
                {
                    "value": "1",
                    "label": {
                        "en": "Modern",
                        "de": "Modern",
                        "es": "Moderno",
                        "fr": "Moderne",
                        "pt-PT": "Moderno"
                    }
                },
                {
                    "value": "2",
                    "label": {
                        "en": "Classic",
                        "de": "Klassisch",
                        "es": "Clásico",
                        "fr": "Classique",
                        "pt-PT": "Clássico"
                    }
                }
            ]
        },
        {
            "type": "header",
            "content": {
                "en": "Account dropdown",
                "de": "Account-Drop-down-Menü",
                "es": "Despliegue de la cuenta",
                "fr": "Déroulement du compte",
                "pt-PT": "Lista pendente da conta"
            }
        },
        {
            "type": "checkbox",
            "id": "headerAccountContact",
            "label": {
                "en": "Show contact info",
                "de": "Kontaktdaten anzeigen",
                "es": "Mostrar información de contacto",
                "fr": "Afficher les coordonnées",
                "pt-PT": "Mostrar informações de contacto"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
              "en": "Country\/region selector",
              "de": "Auswahl für Land\/Region",
              "es": "Selector de país\/región",
              "fr": "Sélecteur de pays\/région",
              "pt-PT": "Seletor de país\/região"
            },
            "info": {
                "en": "To add a country\/region, go to your [market settings.](\/admin\/settings\/markets)",
                "de": "Gehe zu den [Markteinstellungen](\/admin\/settings\/markets), um ein Land \/ eine Region hinzuzufügen.",
                "es": "Para agregar un país\/región, ve a tu [configuración de mercado.](\/admin\/settings\/markets)",
                "fr": "Pour ajouter un pays\/une région, allez à vos [paramètres du marché.](\/admin\/settings\/markets)",
                "pt-PT": "Para adicionar um país\/região, vá a [configurações de mercado.](\/admin\/settings\/markets)"
            }
        },
        {
            "type": "checkbox",
            "id": "showCurrencySelector",
            "label": {
                "en": "Enable country\/region selector",
                "de": "Auswahl für Land\/Region aktivieren",
                "es": "Activar selector de país\/región",
                "fr": "Activer le sélecteur de pays\/région",
                "pt-PT": "Ativar seletor de país\/região"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
                "en": "Language Selector",
                "de": "Sprachauswahl",
                "es": "Selector de idioma",
                "fr": "Sélecteur de langue",
                "pt-PT": "Seletor de Idioma"
            },
            "info": {
                "en": "To add a language, go to your [language settings.](/admin/settings/languages)",
                "de": "Gehen Sie zu Ihren [Spracheinstellungen](/admin/settings/languages), um eine Sprache hinzuzufügen.",
                "es": "Para agregar un idioma, ve a tu[configuración de idioma](/admin/settings/languages)",
                "fr": "Pour ajouter une langue, allez dans vos [paramètres de langue.](/admin/settings/languages).",
                "pt-PT": "Para adicionar um idioma, aceda a [definições de idioma.](/admin/settings/languages)"
            }
        },
        {
            "type": "checkbox",
            "id": "showLanguageSelector",
            "label": {
                "en": "Show language selector",
                "de": "Sprachauswahl anzeigen",
                "es": "Mostrar el selector de idioma",
                "fr": "Afficher le sélecteur de langue",
                "pt-PT": "Mostrar seletor de idioma"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
                "en": "Navigation",
                "fr": "Navigation",
                "de": "Navigation",
                "es": "Navegación",
                "pt-PT": "Navegação"
            }
        },
        {
            "type": "link_list",
            "id": "navigationMainMenu",
            "label": {
                "en": "Main menu",
                "de": "Hauptnavigationsmenü",
                "es": "Menú principal de navegación",
                "fr": "Menu de navigation principal",
                "pt-PT": "Menu de navegação principal"
            },
            "default": "main-menu",
            "info": {
                "en": "Required menu",
                "de": "Erforderliches Menü",
                "es": "Menú necesario",
                "fr": "Menu requis",
                "pt-PT": "Menu obrigatório"
            }
        },
        {
            "type": "select",
            "id": "navigation_placement",
            "label": {
                "en": "Placement",
                "de": "Platzierung",
                "es": "Colocación",
                "fr": "Placement",
                "pt-PT": "Posicionamento"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left",
                        "de": "Links",
                        "es": "Izquierda",
                        "fr": "Gauche",
                        "pt-PT": "Esquerda"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center",
                        "de": "Mitte",
                        "es": "Centro",
                        "fr": "Centre",
                        "pt-PT": "Centro"
                    }
                }
            ]
        },
        {
            "type": "header",
            "content": {
                "en": "Overlay header",
                "de": "Überlagerungs-Header",
                "es": "Superponer encabezado",
                "fr": "En-tête en surimpression",
                "pt-PT": "Cabeçalho de sobreposição"
            }
        },
        {
            "type": "checkbox",
            "id": "fullBleed",
            "label": {
                "en": "Overlay home page content",
                "de": "Homepage-Inhalt überlagern",
                "es": "Superponer el contenido de la página de inicio",
                "fr": "Superposer le contenu de la page d'accueil",
                "pt-PT": "Sobrepor o conteúdo da página inicial"
            },
            "info": {
                "en": "Applies when first section is a video with text overlay, slideshow or full-width image",
                "de": "Gilt, wenn der erste Abschnitt ein Video mit Textüberlagerung, eine Diashow oder ein Bild in voller Breite ist",
                "es": "Se aplica cuando la primera sección es un vídeo con texto superpuesto, una presentación de diapositivas o una imagen de ancho completo",
                "fr": "S'applique lorsque la première section est une vidéo avec du texte superposé, un diaporama ou une image pleine largeur",
                "pt-PT": "Aplica-se quando a primeira secção é um vídeo com sobreposição de texto, apresentação de diapositivos ou imagem de largura total"
            }
        },
        {
            "type": "image_picker",
            "id": "fullBleedLogo",
            "label": {
                "en": "Logo image",
                "de": "Logobild",
                "es": "Imagen del logotipo",
                "fr": "Image du logo",
                "pt-PT": "Imagem do logótipo"
            },
            "info": {
                "en": "250 x 130px recommended",
                "de": "Empfohlen: 250 x 130 Pixel",
                "es": "250 x 130 píxeles recomendados",
                "fr": "250 x 130 pixels recommandés",
                "pt-PT": "250 x 130 px, recomendado"
            }
        }
    ],
    "blocks": [
        {
            "name": {
                "en": "Mega-menu",
                "de": "Megamenü",
                "es": "Mega-menú",
                "fr": "Méga-menu",
                "pt-PT": "Menu mega"
            },
            "type": "menu",
            "settings": [
                {
                    "type": "text",
                    "id": "navigationItem",
                    "label": {
                        "en": "Main menu item",
                        "de": "Hauptmenü-Element",
                        "es": "Elemento del menú principal",
                        "fr": "Élément du menu principal",
                        "pt-PT": "Artigo do menu principal"
                    },
                    "info": {
                        "en": "Enter menu item to apply a mega menu drop-down",
                        "de": "Geben Sie ein Menü-Element ein, um ein Mega-Drop-down-Menü anzuwenden",
                        "es": "Introduzca el elemento del menú para aplicar un mega-menú desplegable",
                        "fr": "Entrez l'élément du menu pour appliquer un déroulement du méga-menu",
                        "pt-PT": "Introduza um artigo do menu para aplicar uma lista pendente de menu mega"
                    }
                },
                {
                    "type": "image_picker",
                    "id": "navigationMegaImage",
                    "label": {
                        "en": "Image",
                        "de": "Megamenü-Bild aktivieren",
                        "es": "Habilitar la imagen del mega-menú",
                        "fr": "Activer l'image du méga-menu",
                        "pt-PT": "Ativar imagem de menu mega"
                    },
                    "info": {
                        "en": "800 x 300px recommended",
                        "de": "Empfohlen: 800 x 300 Pixel",
                        "es": "800 x 300 píxeles recomendados",
                        "fr": "800 x 300 pixels recommandés",
                        "pt-PT": "800 x 300 px, recomendado"
                    }
                },
                {
                    "type": "url",
                    "id": "navigationMegaImageLink",
                    "label": {
                        "en": "Image link",
                        "de": "Bildlink",
                        "es": "Enlace de la imagen",
                        "fr": "Lien vers l'image",
                        "pt-PT": "Link da imagem"
                    }
                }  
            ]
        }     
    ]
}
{% endschema %}
  