{% assign sectionBtnLabel = settings.sectionBtnLabel %}
{% assign sectionTextAlignment = settings.sectionTextAlignment %}
{% assign sectionColorText = settings.sectionColorText %}
{% assign sectionColorOverlay = settings.sectionColorOverlay | color_to_rgb | remove: 'rgb(' | remove: ')' %}
{% assign sectionOverlayOpacity = settings.sectionOverlayOpacity %}

{% assign collageLayoutEnabled = false %}
{% if settings.collageLayoutEnabled %}
  {% assign collageLayoutEnabled = true %}
{% endif %}

{% case settings.collectionsPerRow %}
	{% when 1 %}
		{% assign itemSize = "100" %}
	{% when 2 %}
		{% assign itemSize = "50" %}
	{% else %}
		{% assign itemSize = "33" %}
{% endcase %}

{% assign expandCollections = settings.expandCollections %}

{% assign image_widths = '335, 460, 680, 920, 1020, 1100, 1360, 1840, 2040, 2200, 2760, 3300' %}
{% assign image_noscript_width = '1100x' %}
{% assign delayAmount = 0 %}

{% assign collageLayoutEnabled = false %}
{% if settings.collageLayoutEnabled %}
  {% assign collageLayoutEnabled = true %}
{% endif %}

{% capture page_title %}<strong>{{ page.title }}</strong>{% endcapture %}

{% if page.title != blank %}
	<h1 class="page-header with-context">{{ 'collection.list.title_html' | t: page_title: page_title }}</h1>
{% else %}
	<h1 class="page-header with-context">{{ "collection.list.title_all_html" | t }}</h1>
{% endif %}

{% assign numCollections = section.settings.collections_per_page %}

<main class="page-wrapper grid collection-list-wrapper{% if expandCollections %} expand--collections{% endif %}{% if collageLayoutEnabled %} collage--layout{% endif %}">
  {% paginate collections by numCollections %}

    {% for item in collections %}
      {% if item.image %}
        {% assign image = item.image %}
      {% else %}
        {% assign image = item.products.first.featured_media.preview_image %}
      {% endif %}

      {% assign item_title = item.title %}
      {% assign url = item.url %}

      <article class="{% if collageLayoutEnabled %}{% cycle 'row-1', 'row-1', 'row-2', 'row-2', 'row-2', 'row-3' %}{% endif %} collection__list-item grid-item-{{ itemSize }}" {% assign delayAmount = delayAmount | plus: 200 %} {% render 'animations', type: 'fadeCycle', delay: delayAmount %}>
        {% if image %}
          <figure>
            {%
              render 'image',
              image_object: image,
              image_widths: image_widths,
              image_noscript_width: image_noscript_width,
              image_class: 'collection__list--image',
              image_link: false,
              image_additional_content: false,
              image_attributes: false
            %}
          </figure>
        {% endif %}

        {% if sectionBtnLabel == blank and url %}
          <a href="{{ url }}" aria-label="{{ item.title }}">
        {% endif %}

        <div class="collection__list-item-content {{ sectionTextAlignment }}"{% if sectionColorOverlay %} style="background-color: rgba({{ sectionColorOverlay }}, {{ sectionOverlayOpacity | times: 1.0 | divided_by: 100 }});"{% endif %}>
          <div class="collection__list-item-content--inner">
            <span class="collection__list--title"{% if sectionColorText != "rgba(0,0,0,0)" %} style="color:{{ sectionColorText }}"{% else %} style="color:{{ settings.colorBody }}"{% endif %}>{{ item_title }}</span>
            {% if sectionBtnLabel != blank %}
              <div>
                <a href="{{ url }}" class="button hover-animation" aria-label="{{ sectionBtnLabel }} {{ item.title }}"><span class="button-text">{{ sectionBtnLabel }}</span></a>
              </div>
            {% endif %}
          </div>
        </div>

        {% if sectionBtnLabel == blank and url %}
          </a>
        {% endif %}
      </article>
    {% endfor %}

    {% render 'pagination', paginate: paginate, width: 'full-width' %}
  {% endpaginate %}
</main>

{% schema %}
{
	"name": {
    "en": "Collection list",
    "de": "Kollektionsliste",
    "es": "Lista de colecciones",
    "fr": "Liste des collections",
    "pt-PT": "Lista da coleção"
	},
	"class": "section-index-collectionlist",
  "settings": [
    {
      "type": "range",
      "id": "collections_per_page",
      "min": 8,
      "max": 24,
      "step": 1,
      "label": "Collections per page",
      "default": 16
    }
  ]
}
{% endschema %}
