{% if section.settings.background %}
  {% assign hasImage = true %}
{% endif %}

{% assign hasMailingList = false %}
{% if section.blocks.size > 0 %}
  {% assign hasMailingList = true %}
{% endif %}

<main class="password {% if hasImage %}has-image{% endif %}" {% if hasImage %}style="background-image: url({{ section.settings.background | img_url: 'master' }});"{% endif %} data-section-id="{{ section.id }}" data-section-type="password">
  <div class="page-wrapper grid-item-66">
    {% if section.settings.logo %}
      <h2 class="password-logo">
          {% assign logoWidth = section.settings.logoWidth | append: 'x' | escape %}
          <img src="{{ section.settings.logo | img_url: logoWidth }}"
               srcset="{{ section.settings.logo | img_url: logoWidth }} 1x, {{ section.settings.logo | img_url: logoWidth, scale: 2 }} 2x"
               alt="{{ shop.name }}"
               itemprop="logo">
      </h2>
    {% else %}
      <h2 class="password-logo">{{ shop.name }}</h2>
    {% endif %}

    {% if shop.password_message != blank %}
      <p class="password-message">{{ shop.password_message }}</p>
    {% endif %}

    <div class="password-form-wrapper {% unless hasMailingList %}visible{% endunless %}" data-password-form-wrapper>
      {% form 'storefront_password' %}

        <div class="form-error">
          {{ form.errors | default_errors }}
        </div>

        <div class="form-field">
          <label class="form-label" for="password" aria-label="{{ 'password.general.enter' | t }}">
            <span class="form-field-title">{{ 'password.general.enter' | t }}</span>
            <input class="form-input form-full" type="password" name="password" id="password">
          </label>
        </div>

        <div class="form-actions">
          <button class="button hover-animation leader" type="submit" value="{{ 'password.general.submit' | t }}" aria-label="{{ 'password.general.submit' | t }}"><span class="button-text">{{ 'password.general.submit' | t }}</span></button>
          {% if hasMailingList %}
            <button class="button sidekick" type="button" aria-label="{{ 'password.mailing_list.join' | t }}" onclick="$('[data-password-form-wrapper]').toggleClass('visible')">{{ 'password.mailing_list.join' | t }}</button>
          {% endif %}
        </div>

      {% endform %}
    </div>

    {% if hasMailingList %}
      <div class="password-form-wrapper visible" data-password-form-wrapper>
        {% render "mailing-list", block: section.blocks[0], context: "password", mailingTitle: "" %}
      </div>
    {% endif %}

  </div>
</main>

{% schema %}
{
    "name": {
        "en": "Password page",
        "de": "Passwortseite",
        "es": "Página de contraseña",
        "fr": "Page du mot de passe",
        "pt-PT": "Página de palavra-passe"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Logo",
                "de": "Logo",
                "es": "Logotipo",
                "fr": "Logo",
                "pt-PT": "Logótipo"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo image",
                "de": "Logografik anzeigen",
                "es": "Habilitar imagen de logotipo",
                "fr": "Activer l'image du logo",
                "pt-PT": "Ativar imagem do logótipo"
            }
        },
        {
            "type": "text",
            "id": "logoWidth",
            "label": {
                "en": "Logo width (in pixels)",
                "de": "Logobreite (in Pixeln)",
                "es": "Ancho del logotipo (en píxeles)",
                "fr": "Largeur du logo (en pixels)",
                "pt-PT": "Largura do logótipo (em pixéis)"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Background image",
                "de": "Hintergrundbild",
                "es": "Imagen de fondo",
                "fr": "Image d'arrière-plan",
                "pt-PT": "Imagem de fundo"
            }
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": {
                "en": "Background image",
                "de": "Hintergrundbild",
                "es": "Imagen de fondo",
                "fr": "Image d'arrière-plan",
                "pt-PT": "Imagem de fundo"
            }
        }
    ],
    "blocks": [
        {
            "name": {
                "en": "Mailing list",
                "de": "E-Mail-Verteiler",
                "es": "Lista de correo",
                "fr": "Liste de diffusion",
                "pt-PT": "Lista de correio"
            },
            "type": "mailing-list",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": {
                        "en": "Text",
                        "de": "Text",
                        "es": "Texto",
                        "fr": "Texte",
                        "pt-PT": "Texto"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
