{% assign commentCount = article.comments_count %}
{%- assign current_article = article -%}

{% if comment and comment.created_at %}
  {% assign commentCount = article.comments_count | plus: 1 %}
{% endif %}

<header class="page-header-wrapper">
  <time class="article-published">{{ article.published_at | date: format: 'month_day_year' }}</time>
  <h1 class="page-header">{{ article.title }}</h1>

  {% if blog.previous_article or blog.next_article %}
    {% if blog.previous_article %}
      <a class="article-previous" href="{{ blog.previous_article }}">
        <svg><use xlink:href="#icon-arrow-prev"></use></svg>
      </a>
    {% else %}
      <span class="article-previous">
        <svg><use xlink:href="#icon-arrow-prev"></use></svg>
      </span>
    {% endif %}

    {% if blog.next_article %}
      <a class="article-next" href="{{ blog.next_article }}">
        <svg><use xlink:href="#icon-arrow-next"></use></svg>
      </a>
    {% else %}
      <span class="article-next">
        <svg><use xlink:href="#icon-arrow-next"></use></svg>
      </span>
    {% endif %}
  {% endif %}
</header>

<main class="page-wrapper article-wrapper">
  {% if article.image %}
    {% unless article.metafields.settings.featured_image %}
    <figure class="article-image">
      {{ article.image | img_url: "1024x" | img_tag }}
    </figure>
    {% endunless %}
  {% endif %}

  <div class="article-content-wrapper grid-item-83">
    <div class="article-content rich-text rte">
      {{ article.content }}
    </div>

    <div class="article-author">&mdash; {{ article.author }}</div>

    {% if article.tags.size > 0 %}
      <div class="article-tags">
        {{ "blogs.blog.tagged" | t }}
        {% for tag in article.tags %}
          {{ tag | link_to_tag: tag }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    {% endif %}

    {% render 'share', url: article.url, title: article.title, image: article.image, collection: blog.title %}

    {% if blog.comments_enabled? %}
      {% paginate article.comments by 10 %}

        <section class="article-comments-wrapper" id="comments">
          <div class="article-comments">
            <h3>{{ 'blogs.comments.title' | t: count: article.comments_count }}</h3>

            {% if commentCount > 0 %}
              {% for comment in article.comments %}
                <blockquote>
                  {{ comment.content }}
                  <cite>{{ comment.author }}</cite>
                </blockquote>
              {% endfor %}
            {% endif %}

            {% if paginate.pages > 1 %}
              {% render "pagination", paginate: paginate, width: "full-width" %}
            {% endif %}
          </div>

          <div class="article-comments-form" id="comment_form">
            {% form 'new_comment', article %}

              {% if comment and comment.created_at %}
                <p class="form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              <div class="form-error">
                {{ form.errors | default_errors }}
              </div>

              <div class="form-row grid">
                <div class="form-field grid-item-50">
                  <label class="form-label" for="blog-comment-name" aria-label="{{ 'blogs.comments.name' | t }}">
                    <span class="form-field-title">{{ 'blogs.comments.name' | t }}</span>
                    <input type="text" name="comment[author]" class="form-input form-full {% if form.errors contains 'author' %}error{% endif %}" id="blog-comment-name" placeholder="{{ 'blogs.comments.name_placeholder' | t }}" value="{{ form.author }}" autocapitalize="words">
                  </label>
                </div>

                <div class="form-field grid-item-50">
                  <label class="form-label" for="blog-comment-email" aria-label="{{ 'blogs.comments.email' | t }}">
                    <span class="form-field-title">{{ 'blogs.comments.email' | t }}</span>
                    <input type="email" name="comment[email]" class="form-input form-full {% if form.errors contains 'email' %}error{% endif %}" id="blog-comment-email" placeholder="{{ 'blogs.comments.email_placeholder' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </label>
                </div>
              </div>

              <div class="form-field form-field-textarea">
                <label class="form-label" for="blog-comment-message" aria-label="{{ 'blogs.comments.message' | t }}">
                  <span class="form-field-title">{{ 'blogs.comments.message' | t }}</span>
                  <textarea name="comment[body]" class="form-input form-full {% if form.errors contains 'body' %}error{% endif %}" id="blog-comment-message" placeholder="{{ 'blogs.comments.message_placeholder' | t }}">{{ form.body }}</textarea>
                </label>
              </div>

              {% if blog.moderated? %}
                <p class="article-comments-moderation">{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}

              <button class="button hover-animation" type="submit" value="{{ 'blogs.comments.submit' | t }}" aria-label="{{ 'blogs.comments.submit' | t }}"><span class="button-text">{{ 'blogs.comments.submit' | t }}</span></button>
            {% endform %}
          </div>
        </section>

      {% endpaginate %}
    {% endif %}
  </div>

</main>

<!------------------------------------------------------------ index-blog --------------------------------------------------------------->

{{ 'section-blog.min.css' | asset_url | stylesheet_tag }}

{% assign hasSubheading = false %}
{% if section.settings.indexBlogSubheading != blank %}
  {% assign hasSubheading = true %}
{% endif %}

{% assign hasHeading = false %}
{% if section.settings.indexBlogHeading != blank %}
  {% assign hasHeading = true %}
{% endif %}

{% assign hasText = false %}
{% if section.settings.indexBlogText != blank %}
  {% assign hasText = true %}
{% endif %}

<section class="index-blog" data-section-id="{{ section.id }}" data-section-type="home" data-section-child="index-blog">

  {% if hasSubheading or hasHeading or hasText %}
    <header class="index-header">
      {% if hasSubheading %}
        <h3 class="index-subheading">{{ section.settings.indexBlogSubheading | escape }}</h3>
      {% endif %}
        {% if hasHeading %}
        <h2>{{ section.settings.indexBlogHeading | escape }}</h2>
      {% endif %}
      {% if hasText %}
        <div class="homepage-subheader rte">{{ section.settings.indexBlogText }}</div>
      {% endif %}
    </header>
  {% endif %}

  <div class="grid">

    {% case section.settings.post_limit %}
      {% when 2 %}
        {% assign itemSize = "50" %}
        {% assign image_widths = '270, 460, 540, 680, 810, 920, 1080, 1380, 1620' %}
        {% assign image_noscript_width = '680x' %}
      {% when 3 %}
        {% assign itemSize = "33" %}
        {% assign image_widths = '360, 460, 720, 920, 1080, 1380' %}
        {% assign image_noscript_width = '540x' %}
      {% else %}
        {% assign itemSize = "25" %}
        {% assign image_widths = '260, 340, 460, 520, 700, 780, 920, 1020, 1380' %}
        {% assign image_noscript_width = '225x' %}
    {% endcase %}

    {% assign block = section.blocks.first %}

        {% assign selected_blog = blog %}

        {% unless selected_blog == empty %}
          {%- assign post_limit = section.settings.post_limit | plus: 1 -%}

          {% for article in selected_blog.articles limit: post_limit %}
            {%- if forloop.index == post_limit -%}
              {%- unless post_skipped -%}
                {%- continue -%}
              {%- endunless -%}
            {%- endif -%}
            {%- if current_article == article -%}
              {%- assign post_skipped = true -%}
              {%- continue -%}
            {%- endif -%}
            <article
              class="index-blog-item grid-item-{{ itemSize }} index-blog-item--image---{{ section.settings.imageSize }}{% if article.image %} image-content{% else %} text-content{% endif %}"
              data-block-id="{{ block.id }}"
              {{ block.shopify_attributes }}
              {% capture delayAmount %}{% cycle '200', '400', '600', '800' %}{% endcapture %}
              {% render 'animations', type: 'fadeCycle', delay: delayAmount %}>

              {% if article.image %}
                {% if section.settings.imageSize == 'natural' %}
                  <figure>
                    {%
                      render 'image',
                      image_object: article.image,
                      image_widths: image_widths,
                      image_noscript_width: image_noscript_width,
                      image_additional_content: false,
                      image_class: false,
                      image_attributes: false
                    %}
                    <a class="index-blog-link" href="{{ article.url }}"></a>
                  </figure>
                {% else %}
                  <a href="{{ article.url }}" aria-label="{{ article.image.alt }}">
                    {%
                      render 'image-bg',
                      image_class: 'index-blog-item--image',
                      image: article.image,
                      image_default: image_default,
                      image_sizes: false,
                      image_additional_content: false,
                      image_dimension: false,
                      image_link: false
                    %}
                  </a>
                {% endif %}
              {% endif %}

              <div class="index-blog-item-content">
                <div>
                  {% if article.tags.size > 0 %}
                  <div style="font-size: 12px;text-transform: uppercase;">
                    {% for tag in article.tags %}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}

                  <a class="index-blog-title" href="{{ article.url }}">
                    <h3>{{ article.title }}</h3>
                  </a>

                  {% if section.settings.showDate %}
                    <time class="index-blog-published">{{ article.published_at | date: format: 'month_day_year' }}</time>
                  {% endif %}

                  {% if section.settings.showAuthor %}
                    <div class="index-blog-author">{{ 'modules.blog.posted_by' | t: author: article.author }}</div>
                  {% endif %}

                  <p class="index-blog-text">{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}</p>
                </div>
              </div>
            </article>
          {% endfor %}

        {% else %}

          {% for i in (1..section.settings.post_limit) %}
            <article
              class="index-blog-item grid-item-{{ itemSize }} index-blog-item--image---{{ section.settings.imageSize }}{% if image %} image-content{% else %} text-content{% endif %}"
              data-block-id="{{ block.id }}"
              {{ block.shopify_attributes }}
              {% capture delayAmount %}{% cycle '200', '400', '600', '800' %}{% endcapture %}
              {% render 'animations', type: 'fadeCycle', delay: delayAmount %}>

              <figure class="svg-placeholder">
                {% capture index %}{% cycle '1', '2', '3', '4', '5', '6' %}{% endcapture %}
                {{ 'collection-' | append: index | placeholder_svg_tag }}
              </figure>

              <div class="index-blog-item-content">
                <div>
                  <h3 class="index-blog-title">{{ "layout.onboarding.blog_item_title" | t }}</h3>
                  <p class="index-blog-text">{{ "layout.onboarding.blog_item_text" | t }}</p>
                </div>
              </div>
            </article>
          {% endfor %}

        {% endunless %}


  </div>

</section>

{% schema %}
{
    "name": {
        "en": "Blog posts",
        "de": "Blogposts",
        "es": "Publicaciones del blog",
        "fr": "Articles de blog",
        "pt-PT": "Publicações no blog"
    },
    "class": "section-index-blog",
    "max_blocks": 1,
    "settings": [
        {
            "type": "text",
            "id": "indexBlogSubheading",
            "label": {
                "en": "Subheading",
                "de": "Unterüberschrift",
                "es": "Subencabezado",
                "fr": "Sous-rubrique",
                "pt-PT": "Subtítulo"
            }
        },
        {
            "type": "text",
            "id": "indexBlogHeading",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            }
        },
        {
            "type": "richtext",
            "id": "indexBlogText",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            }
        },
        {
            "type": "range",
            "id": "post_limit",
            "min": 2,
            "max": 4,
            "step": 1,
            "label": {
                "en": "Posts to show",
                "de": "Anzuzeigende Beiträge",
                "es": "Publicaciones para mostrar",
                "fr": "Articles à montrer",
                "pt-PT": "Publicações a apresentar"
            },
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "showDate",
            "label": {
                "en": "Show date",
                "de": "Datum anzeigen",
                "es": "Mostrar fecha",
                "fr": "Date d'affichage",
                "pt-PT": "Mostrar data"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "showAuthor",
            "label": {
                "en": "Show author",
                "de": "Autor anzeigen",
                "es": "Mostrar autor",
                "fr": "Afficher l'auteur",
                "pt-PT": "Mostrar autor"
            },
            "default": true
        },
        {
            "type": "select",
            "id": "imageSize",
            "options": [
                {
                  "value": "natural",
                  "label": {
                      "en": "Natural",
                      "de": "Natürlich",
                      "es": "Natural",
                      "fr": "Naturel",
                      "pt-PT": "Natural"
                  }
                },
                {
                  "value": "square",
                  "label": {
                      "en": "Square (1:1)",
                      "de": "Quadrat (1:1)",
                      "es": "Cuadrado (1:1)",
                      "fr": "Carré (1:1)",
                      "pt-PT": "Quadrado (1:1)"
                  }
                },
                {
                  "value": "landscape",
                  "label": {
                      "en": "Landscape (4:3)",
                      "de": "Landschaft (4:3)",
                      "es": "Apaisado (4:3)",
                      "fr": "Paysage (4:3)",
                      "pt-PT": "Horizontal (4:3)"
                  }
                },
                {
                    "value": "portrait",
                    "label": {
                        "en": "Portrait (2:3)",
                        "de": "Porträt (2:3)",
                        "es": "Retrato (2:3)",
                        "fr": "Portrait (2:3)",
                        "pt-PT": "Vertical (2:3)"
                    }
                },
                {
                    "value": "wide",
                    "label": {
                        "en": "Wide (16:9)",
                        "de": "Breit (16:9)",
                        "es": "Ancho (16:9)",
                        "fr": "Large (16:9)",
                        "pt-PT": "Largo (16:9)"
                    }
                }
            ],
            "label": {
              "en": "Image size",
              "de": "Bildgröße",
              "es": "Tamaño de la imagen",
              "fr": "Taille de l'image",
              "pt-PT": "Tamanho da imagem"
            },
            "default": "square"
        }
    ],
    "blocks": [
      {
        "type": "article",
        "name": {
            "en": "Selected blog posts",
            "de": "Ausgewählte Blogbeiträge",
            "es": "Publicaciones de blog seleccionadas",
            "fr": "Articles du blog sélectionnés",
            "pt-PT": "Publicações do blogue selecionadas"
        },
        "settings": [
          {
            "type": "header",
            "content": {
                "en": "Selected blog posts",
                "de": "Ausgewählte Blogbeiträge",
                "es": "Publicaciones de blog seleccionadas",
                "fr": "Articles du blog sélectionnés",
                "pt-PT": "Publicações do blogue selecionadas"
            },
            "info": {
                "en": "Choose the blog posts you want to feature",
                "de": "Wählen Sie die Blogbeiträge, die Sie präsentieren möchten",
                "es": "Elige las publicaciones del blog que quieres destacar",
                "fr": "Choisissez les articles du blog que vous souhaitez mettre en avant",
                "pt-PT": "Escolha as publicações do blogue que pretende apresentar"
            }
          },
          {
            "type": "article",
            "id": "blog_post_1",
            "label": {
                "en": "First blog post",
                "de": "Erster Blogbeitrag",
                "es": "Primera publicación del blog",
                "fr": "Premier article du blog",
                "pt-PT": "Primeira publicação do blogue"
            }
          },
          {
            "type": "article",
            "id": "blog_post_2",
            "label": {
                "en": "Second blog post",
                "de": "Zweiter Blogbeitrag",
                "es": "Segunda publicación del blog",
                "fr": "Deuxième article du blog",
                "pt-PT": "Segunda publicação do blogue"
            }
          },
          {
            "type": "article",
            "id": "blog_post_3",
            "label": {
                "en": "Third blog post",
                "de": "Dritter Blogbeitrag",
                "es": "Tercera publicación del blog",
                "fr": "Troisième article du blog",
                "pt-PT": "Terceira publicação do blogue"
            }
          },
          {
            "type": "article",
            "id": "blog_post_4",
            "label": {
                "en": "Fourth blog post",
                "de": "Vierter Blogbeitrag",
                "es": "Cuarta publicación del blog",
                "fr": "Quatrième article du blog",
                "pt-PT": "Quarta publicação do blogue"
            }
          }
        ]
      },
      {
        "type": "blog",
        "name": {
            "en": "Selected blog",
            "de": "Ausgewählter Blog",
            "es": "Blog seleccionado",
            "fr": "Blog sélectionné",
            "pt-PT": "Blogue selecionado"
        },
        "settings": [
          {
            "type": "header",
            "content": {
              "en": "Selected blog",
              "de": "Ausgewählter Blog",
              "es": "Blog seleccionado",
              "fr": "Blog sélectionné",
              "pt-PT": "Blogue selecionado"
            },
            "info": {
                "en": "Choose the blog you want to feature",
                "de": "Wählen Sie den Blog, den Sie präsentieren möchten",
                "es": "Elige el blog que quieres destacar",
                "fr": "Choisissez le blog que vous souhaitez mettre en avant",
                "pt-PT": "Escolha o blogue que pretende apresentar"
            }
          },
          {
            "type": "blog",
            "id": "blog",
            "label": {
                "en": "Blog",
                "de": "Blog",
                "es": "Blog",
                "fr": "Blog",
                "pt-PT": "Blog"
            }
          }
        ]
      }
    ],
    "presets": [
        {
            "name": {
                "en": "Blog posts",
                "de": "Blogposts",
                "es": "Publicaciones del blog",
                "fr": "Articles de blog",
                "pt-PT": "Publicações no blog"
            },
            "category": {
                "en": "Blog",
                "de": "Blog",
                "es": "Blog",
                "fr": "Blog",
                "pt-PT": "Blog"
            },
            "blocks": [
              {
                "type": "blog",
                "settings": {
                  "blog": "News"
                }
              }
            ]
        }
    ],
    "templates": [
      "404",
      "article",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "password",
      "product",
      "search"
    ]
}
{% endschema %}


<!-- if article.url === curent_post.url conintue -->
